<div id="land">
	<div class="vcenter">
	<h2>Create, Version, Track and share your</h2>
	<h1>Business Model Canvas</h1>

	<%= link_to fa_icon("linkedin-square", text:"Login with Linkedin"), '#', class: "btn btn-lg btn-primary" %>
	<p>With <%= fa_icon "heart" %> from Mahendhar</p>
	</div>
</div>
